<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">{% if '/index.html' == page.url %}
    <meta name="description" content="Easynode is a framework for microservice written with es6 and integrated a light web service based on koa and a light tcp servic based on native socket. You can utilize all feature characters of ES6 in the framework.">{% endif %}
    <meta name="author" content="EasyNode Team">
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@easynode_hipster" />
    <meta name="twitter:title" content="a light web framework for Node.JS " />
    <meta name="twitter:description" content="Our general purpose is to code with a synchronized way but run in an asynchronous way for the web project written Node.JS." />
    <meta name="twitter:image:src" content="http://easynode.github.io/img/screenshot_1.png" />
    <meta name="twitter:url" content="http://easynode.github.io/" />
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#353d47">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#353d47">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#353d47">
    <title>{{ page.title }}</title>

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">

    <!-- CSS Libs -->
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/lib/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/lib/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/lib/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/lib/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/lib/css/dataTables.bootstrap.css">
    <!-- CSS App -->
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/style.css">
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/themes/flat-blue.css">
    {% if page.home == true %}
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/home.css">
    {% endif %}
    <!-- Bootstrap Docs CSS subset to get icon -->
    <!--<link href="/css/bootstrap-docs.css" rel="stylesheet">-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Favicon with QHD -->
    <link rel="icon" type="image/png" href="{{ site.url }}/img/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ site.url }}/img/favicon-16x16.png" sizes="16x16" />
</head>

<body class="flat-blue">
    <div class="app-container{% if page.home == true %} home{% else %} expanded {% endif %}">
        <div class="row content-container">
            <nav class="navbar navbar-inverse navbar-fixed-top navbar-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-expand-toggle{% if page.home != true %} fa-rotate-90{% endif %}">
                            <i class="fa fa-bars icon"></i>
                        </button>
                        <ol class="breadcrumb navbar-breadcrumb">
                            <li class="active"></li>
                        </ol>
                        <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                            <i class="fa fa-th icon"></i>
                        </button>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <button type="button" class="navbar-right-expand-toggle pull-right visible-xs light">
                            <i class="fa fa-times icon"></i>
                        </button>
                        {% if page.home == true %}
                        <li class="page-scroll">
                            <a href="#about">About</a>
                        </li>
                        <!--<li class="page-scroll">
                            <a href="#opts">Options</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#quick">Quick Start</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#modules">Modules</a>
                        </li>
                        <li class="page-scroll hidden-xs">
                            <a class="light">|</a>
                        </li>-->
                        {% endif %}
                        <li class="">
                            <a href="http://easynode.hzspeed.cn" class="dropdown-toggle navlink" target="_blank" role="button">v0.1 Docs</a>
                        </li>
                        <li class="">
                            <a href="http://easynode.github.io/" class="dropdown-toggle navlink" target="_blank" role="button"><i class="fa fa-github fa-2x"></i></a>
                        </li>
                    </ul>

                </div>
            </nav>
            <div class="side-menu sidebar-inverse">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="side-menu-container">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="/">
                                <div class="icon"><img src="{{ site.url }}/img/logo-jhipster2x.png" height="50px"></div>
                                <div class="title brand">EasyNode </div>
                            </a>
                            <button type="button" class="navbar-expand-toggle pull-right visible-xs">
                                <i class="fa fa-times icon"></i>
                            </button>
                        </div>
                        <ul class="nav navbar-nav">
                            <li {% if '/index.html' == page.url %}class="active" {% endif %}>
                                <a href="/">
                                    <span class="icon fa fa-home"></span><span class="title">Home</span>
                                </a>
                            </li>
                            <li {% if '/get-started/' == page.url %}class="active" {% endif %}>
                                <a href="{{ site.url }}/releases/">
                                    <span class="icon fa fa-file-text-o"></span><span class="title">Get Started</span>
                                </a>
                            </li>
                            <li class="panel panel-default dropdown">
                                <a data-toggle="collapse" href="#dropdown-1">
                                    <span class="icon fa fa-road"></span><span class="title">TUTORIALS</span>
                                </a>
                                <!-- Dropdown level 1 -->
                                <div id="dropdown-1" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="nav navbar-nav">
                                            <li {% if '/hello-world/' == page.url %}class="active" {% endif %}><a href="{{ site.url }}/hello-world/"><i class="fa fa-fw fa-stack-overflow"></i> Hello World</a></li>
                                            <li {% if '/demo-nos/' == page.url %}class="active" {% endif %}><a href="{{ site.url }}/demo-nos/"><i class="fa fa-fw fa-stack-overflow"></i> Demo For NOS</a></li>
                                            <li {% if '/demo-redis/' == page.url %}class="active" {% endif %}><a href="{{ site.url }}/demo-redis/"><i class="fa fa-fw fa-stack-overflow"></i> Demo For Redis</a></li>
                                            <li {% if '/demo-rds/' == page.url %}class="active" {% endif %}><a href="{{ site.url }}/demo-rds/"><i class="fa fa-fw fa-stack-overflow"></i> Demo For Rds</a></li>
                                            <li {% if '/demo-nqs/' == page.url %}class="active" {% endif %}><a href="{{ site.url }}/demo-nqs/"><i class="fa fa-fw fa-stack-overflow"></i> Demo For NQS</a></li>
                                            <li {% if '/demo-rpc/' == page.url %}class="active" {% endif %}><a href="{{ site.url }}/demo-rpc/"><i class="fa fa-fw fa-stack-overflow"></i> Demo For RPC</a></li>
                                            <li {% if '/smart-watch/' == page.url %}class="active" {% endif %}><a href="{{ site.url }}/smart-watch/"><i class="fa fa-fw fa-stack-overflow"></i> Smart Watch</a></li>
                                            <li {% if '/demo-icp/' == page.url %}class="active" {% endif %}><a href="{{ site.url }}/demo-icp/"><i class="fa fa-fw fa-stack-overflow"></i> ICP </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="panel panel-default dropdown">
                                <a data-toggle="collapse" href="#dropdown-2">
                                    <span class="icon fa fa-fw fa-wrench"></span><span class="title"> References </span>
                                </a>
                                <!-- Dropdown level 1 -->
                                <div id="dropdown-2" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="nav navbar-nav">
                                            <li {% if '/ref_frames/' == page.url %}class="active" {% endif %}><a href="{{ site.url }}/ref_frames/"><i class="fa fa-fw fa-cloud-download"></i> Other Web Frameworks</a></li>
                                            <li {% if '/resources-recommended/' == page.url %}class="active" {% endif %}><a href="{{ site.url }}/resources-recommended/"><i class="fa fa-fw fa-keyboard-o"></i> Resources Recommended </a></li>
                                            <li {% if '/docker-compose/' == page.url %}class="active" {% endif %}><a href="{{ site.url }}/docker-compose/"><i class="fa fa-fw fa-music"></i> Docker Compose</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="panel panel-default dropdown">
                                <a data-toggle="collapse" href="#dropdown-3"><span class="icon fa fa-fw fa-list-ol"></span><span class="title"> Getting Help </span></a>
                                <div id="dropdown-3" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="nav navbar-nav">
                                            <li {% if '/api/' == page.url %}class="active" {% endif %}><a href="{{ site.url }}/api/"><i class="fa fa-fw  fa-sitemap"></i> API Doc </a></li>
                                           </ul>
                                    </div>
                                </div>
                            </li>
                    <!-- /.navbar-collapse -->
                </nav>
            </div>
            <!-- Main Content -->


            <div id="page-wrapper" class="container-fluid">
                <div class="side-body" id="page-top">
                    {% if page.layout_grid == true %} {{ content }} {% else %}
                    <div class="row page-content-wrapper">
                        <div class="col-lg-12">
                            {{ content }}
                        </div>
                    </div>
                    <!-- /.row -->
                    {% endif %}

                    <!-- Footer -->
                    <footer class="text-center">
                        <div class="footer-above">
                            <div class="container"><!--
                                <div class="row">
                                    <div class="footer-col col-md-4">
                                        <div class="col-md-6 col-sm-12">
                                            <h5 class="text-left"><i class="fa fa-coffee fa-fw"></i> <a class="link" href="{{ site.url }}/team/">Team</a></h5>
                                            <h5 class="text-left"><i class="fa fa-pencil fa-fw"></i> <a class="link" href="{{ site.url }}/artwork">Artwork</a></h5>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <h5 class="text-left"><i class="fa fa-gavel fa-fw"></i> <a class="link" href="{{ site.url }}/policies/">Policies</a></h5>
                                            <h5 class="text-left"><i class="fa fa-gift fa-fw"></i> <a class="link" href="{{ site.url }}/thanks/">Thanks</a></h5>
                                        </div>
                                    </div>
                                    <div class="footer-col col-md-4">
                                        <ul class="list-inline">
                                            <li>
                                                <a href="https://twitter.com/java_hipster" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                                            </li>
                                            <li>
                                                <a href="https://github.com/jhipster/generator-jhipster" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
                                            </li>
                                            <li>
                                                <a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-comments"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="footer-col col-md-4 google-search">
                                        <script>
                                            (function () {
                                                var cx = '004687894124070278856:-ryvp1pk0xi';
                                                var gcse = document.createElement('script');
                                                gcse.type = 'text/javascript';
                                                gcse.async = true;
                                                gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                                                    '//cse.google.com/cse.js?cx=' + cx;
                                                var s = document.getElementsByTagName('script')[0];
                                                s.parentNode.insertBefore(gcse, s);
                                            })();
                                        </script>
                                        <gcse:search></gcse:search>

                                    </div>
                                </div>
                            --></div>
                        </div>
                        <div class="footer-below">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-12">
                                        Copyright &copy; EasyNode 2016 | Theme based on <a href="https://github.com/IronSummitMedia/startbootstrap-freelancer" target="_blank">Freelancer</a> and <a href="https://github.com/tui2tone/flat-admin-bootstrap-templates" target="_blank">Flat admin</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
                <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
                <div class="scroll-top page-scroll visible-xs visible-sm">
                    <a class="btn btn-primary" href="#page-top">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <!-- /#page-wrapper -->
        </div>
        <!-- /#wrapper -->
    </div>
    <!-- Javascript Libs -->
    <script type="text/javascript" src="{{ site.url }}/lib/js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ site.url }}/lib/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ site.url }}/lib/js/ace.js"></script>
    <script type="text/javascript" src="{{ site.url }}/lib/js/mode-html.js"></script>
    <script type="text/javascript" src="{{ site.url }}/lib/js/theme-github.js"></script>
    <script type="text/javascript" src="{{ site.url }}/lib/js/jquery.easing.min.js"></script>

    {% if page.angularjs == true %}
    <script type="text/javascript" src="{{ site.url }}/lib/js/angular-1.4.8.min.js"></script>
    <script type="text/javascript" src="{{ site.url }}/lib/js/angular-route-1.4.8.min.js"></script>
    {% endif %}

    <!--App Javascript -->
    <script type="text/javascript" src="{{ site.url }}/js/app.js"></script>
    {% if page.home == true %}
    <script type="text/javascript" src="{{ site.url }}/js/services.js"></script>
    <script type="text/javascript" src="{{ site.url }}/js/index.js"></script>
    <script type="text/javascript" src="{{ site.url }}/js/marketplace-list.js"></script>
    {% endif %}
    {% if page.market == true %}
    <script type="text/javascript" src="{{ site.url }}/lib/js/c3-0.4.10.min.js"></script>
    <script type="text/javascript" src="{{ site.url }}/lib/js/d3-3.5.10.min.js"></script>
    <script type="text/javascript" src="{{ site.url }}/lib/js/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="{{ site.url }}/lib/js/Showdown.min.js"></script>
    <script type="text/javascript" src="{{ site.url }}/lib/js/markdown.js"></script>
    <script type="text/javascript" src="{{ site.url }}/js/services.js"></script>
    <script type="text/javascript" src="{{ site.url }}/js/marketplace.js"></script>
    <script type="text/javascript" src="{{ site.url }}/js/marketplace-list.js"></script>
    <script type="text/javascript" src="{{ site.url }}/js/marketplace-details.js"></script>

    {% endif %}
    <!-- JavaScript -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-28023666-1', 'easynode.github.io');
        ga('send', 'pageview');
    </script>
</body>

</html>
